@use '../base/_variables' as vars
@use '../base/_mixins' as mixins

.options__controls
  display: flex
  flex-direction: column
  gap: vars.$options-gap

.options__save-load
  display: flex
  flex-direction: column
  gap: vars.$options-gap
