// Цвета
$main-bg-color: #788351
$main-text-color: #fff
$main-button-color: #8bc5cf
$main-modal-bg-color: #788351

// Шрифты
$font-family-base: 'Inter', system-ui, sans-serif
$font-weight-regular: 400
$font-weight-medium: 500
$font-weight-bold: 700
// Gap
$options-gap: 10px

// модальное окно
$modal-background: rgba(45, 54, 41, 0.7)
